<h1>List of Cars</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Creation Date</th>
    <th>Created By</th>
    <th></th>
  </tr>
 
  <% @cars.each do |car| %>
    <tr>
      <td><%= car.title %></td>
      <td><%= car.description %></td>
      <td><%= car.created_at.strftime("%d/%m/%Y at %H:%M") %></td>
      <td><%= car.created_by %></td>
      <td><%= link_to 'Show', car_path(car) %></td>
    </tr>
  <% end %>
</table>